---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    # REPLACE WITH YOUR OWN IP RANGE
    - 192.168.122.30-192.168.122.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-advertisement
  namespace: metallb-system # Must match the namespace where MetalLB is installed
spec:
  ipAddressPools:
    - default-pool

