apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  interval: 1m
  # No explicit dependsOn needed here if sources are applied by the root Kustomization above.
  path: ./k8s/homelab/infra/ # Targets the infrastructure folder 
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    
