---
- name: Configure Docker on OCI
  hosts: region_ap-singapore-1 
  become: yes
  roles:
    - role: docker/host/yum
    - role: docker/network
      vars:
        NETWORK_NAME: "headscale_network"
    - role: github_registery/yum

- name:  run services on OCI
  hosts: region_ap-singapore-1 
  become: yes
  roles:
    - role: docker/services/headscale
      vars:
        NETWORK_NAME: "headscale_network"
    - role: docker/services/headscale_discord
      vars:
        NETWORK_NAME: "headscale_network"
    - role: docker/services/caddy_oracle
      vars:
        NETWORK_NAME: "headscale_network"

- name: Deploy a Kerberos KDC on Ubuntu
  hosts: kerberos
  become: true
  roles:
    - kerberos/server

- name: Run kerberos client on nfs and install nfs server
  hosts: nfs2
  become: true
  vars_files:
    - "../host_vars/nfs/vault.yml" 
  roles:
    - kerberos/client
    - nfs/server
#
- name: Postgres setup
  hosts: postgres2
  become: true
  vars_files:
    - "../host_vars/postgres/vault.yml" 
  roles:
    - kerberos/client
    - nfs/client

