---
- name: Configure Docker on OCI
  hosts: region_ap-singapore-1 
  become: yes
  roles:
    - role: docker/host
    - role: docker/network
      vars:
        NETWORK_NAME: "headscale_network"
    - role: github_registery

- name:  run services
  hosts: region_ap-singapore-1 
  become: yes
  roles:
    - role: docker/services/headscale
      vars:
        NETWORK_NAME: "headscale_network"
    - role: docker/services/headscale_discord
      vars:
        NETWORK_NAME: "headscale_network"
    - role: docker/services/caddy_oracle
      vars:
        NETWORK_NAME: "headscale_network"
