---
- name: Install nfs server package
  ansible.builtin.apt:
    name: "nfs-kernel-server"
    update_cache: yes
  become: true

- name: Install /etc/exports from template
  ansible.builtin.template:
    src: exports
    dest: /etc/exports
    owner: root
    mode: "0644"
  become: true

- name: Install /etc/idmapd.conf from template
  ansible.builtin.template:
    src: idmapd.conf
    dest: /etc/idmapd.conf
    owner: root
    mode: "0644"
  become: true

- name: Add service principal
  command: >
    kadmin.local -q "addprinc -randkey nfs/nfs.pikaa.cc@pikaa.cc"
  become: true
  delegate_to: kerberos

- name: Create Keytab file
  command: kadmin.local -q "ktadd -k /tmp/service.keytab nfs/nfs.pikaa.cc@pikaa.cc"
  delegate_to: kerberos

- name: Fetch keytab file
  fetch: 
    src: /tmp/service.keytab
    dest: /tmp/krb5.keytab
    flat: yes
  delegate_to: kerberos

- name: Copy keytab to host
  copy: 
    src: /tmp/krb5.keytab
    dest: /etc/krb5.keytab
