---
apiVersion: v1
kind: Namespace
metadata:
  name: postgres-database
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cloudnative-pg
  namespace: flux-system
spec:
  interval: 1h
  url: https://cloudnative-pg.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmReleas
metadata:
  name: cloudnative-pg
  namespace: postgres-database
spec:
  interval: 5m
  targetNamespace: postgres-databse
  install:
    createNamespace: true
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: cnpg/cloudnative-pg
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
