---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: external-secrets
  namespace: flux-system
spec:
  interval: 1h
  url: https://charts.external-secrets.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
  namespace: external-secrets # Recommended namespace
spec:
  interval: 5m
  targetNamespace: external-secrets
  install:
    createNamespace: true
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: external-secrets
      version: "0.9.x" # Use the desired version
      sourceRef:
        kind: HelmRepository
        name: external-secrets
        namespace: flux-system
  values:
    # Set to true if you are relying on the Helm chart to install CRDs
    installCRDs: true 
    # Optional: Enable the validating webhook
    webhook:
      enabled: true
    # Optional: Enable the cert-controller
    certController:
      enabled: true
